<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FireBasePushNotificationsURL" value="https://fcm.googleapis.com/fcm/send" />
    <add key="FirebaseserverApiKey" value="AAAALv8PWB0:APA91bHTaIHfelzvj7kh-F8UXJ8eNW6_Mxy5p5dHm2XQoTvxebPCkor5Hv0STXmnCiVSivp9IFTkItEj2NYqnEzaOVH8CuvSJAkBtzFMQg92u8PENCOd6HzO0DUHsKy8n7gozj6KQFJO" />
  </appSettings>
</configuration>